<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>QUARTZ</title>
    <link th:href="@{/favicon.ico}" type="image/x-icon" rel="shortcut icon">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <style type="text/css">
        .btnRun, .btnClose, .btnOpen, .btnEdit {margin-right: 8px;}
        .input-group {margin-bottom: 5px;}
        .title {text-align:center; font-size:30px; margin-top:15px;}
        .btnCreate {text-align:right; margin:5px 15px;}
        .head {border:solid; border-color:#8080805c; border-width:1px;}
        .line {
            border: 0;
            height: 1px;
            background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.23), rgba(0, 0, 0, 0));
        }
    </style>
</head>
<body>

<div class="container-fluid" style="padding-top: 15px;">

    <div class="head">
        <div class="title">Scheduler Dashboard</div>
        <hr class="line">
        <div class="btnCreate">
            <button type="button" class="btn btn-primary" id="createBtn" data-toggle="modal">create</button>
        </div>
    </div>



    <table class="table table-bordered">
        <thead>
        <tr class="active">
            <th>id</th>
            <th>jobName</th>
            <th>JobGroup</th>
            <th>description</th>
            <th>cron</th>
            <th>api</th>
            <th>method</th>
            <th>parameter</th>
            <th>status</th>
            <th style="text-align: center;">operation</th>
        </tr>
        </thead>
        <tbody>
        <!--#foreach($item in $jobs)-->
        <th:block th:each="item : ${jobs}">
        <tr th:data-id="${item.id}">
            <td th:text="${item.id}"></td>
            <td th:id="'jobName_' +${item.id}" th:text="${item.jobName}"></td>
            <td th:id="'jobGroup_' +${item.id}" th:text="${item.jobGroup}"></td>
            <td th:id="'description_' +${item.id}" th:text="${item.description}"></td>
            <td th:id="'corn_' +${item.id}" th:text="${item.cron}"></td>
            <td th:id="'api_' +${item.id}" th:text="${item.api}"></td>
            <td th:id="'method_' +${item.id}" th:text="${item.method}"></td>
            <td th:id="'parameter_' +${item.id}" th:text="${item.parameter}"></td>
            <td th:id="'status_' +${item.id}" th:text="${item.status}"></td>
            <td style="text-align: center;">
                <div class="btn-group text-center" role="group"
                     th:data-id="${item.id}">
                    <button type="button" class="btn btn-default btnRun">runOnce</button>
                    <button type="button" class="btn btn-default btnPause">pause</button>
                    <button type="button" class="btn btn-default btnResume">resume</button>
                    <button type="button" class="btn btn-default btnEdit">edit</button>
                    <button type="button" class="btn btn-warning btnDelete">delete</button>
                </div>
            </td>
        </tr>
        </th:block>
        <!--#end-->
        </tbody>
    </table>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel">cron create</h4>
            </div>
            <div class="modal-body">
                <form id="mainForm" action="">
                    <div>
                        <input type="hidden" class="form-control" id="id" name="id" />
                        <div class="input-group">
                            <span class="input-group-addon">jobName</span>
                            <input type="text" alias="no-edit" name="jobName" class="form-control" id="edit_jobName" />
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon">jobGroup</span>
                            <input type="text" alias="no-edit" name="jobGroup" class="form-control" id="edit_jobGroup" />
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon">cron</span>
                            <input type="text" alias="no-edit" name="cron" class="form-control" id="edit_cron" />
                        </div>

                        <div class="input-group">
                            <span class="input-group-addon">description</span>
                            <input type="text" alias="no-edit" name="description" class="form-control" id="edit_description" />
                        </div>

                        <div class="input-group">
                            <span class="input-group-addon">api</span>
                            <input type="text" alias="no-edit" name="api" class="form-control" id="edit_api" />
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon">method</span>
                            <input type="text" alias="no-edit" name="method" class="form-control" id="edit_method" />
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon">parameter</span>
                            <input type="text" alias="no-edit" name="parameter" class="form-control" id="edit_parameter" />
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon">status</span>
                            <select id="edit_status" name="status" class="form-control" data-size="10">
                                <option value="NORMAL">NORMAL</option>
                                <option value="PAUSED">PAUSED</option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">cancel</button>
                <button type="button" class="btn btn-primary" id="save">save</button>
            </div>
        </div>
    </div>
</div>

<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/bootstrap-select.min.js}"></script>
<script th:src="@{/js/index.js}"></script>
</body>
</html>